.table-of-contents-block {
    color: red;
    padding: 20px;
}

.table-of-contents-block ol li {
    text-decoration: none;
}

.table-of-contents-block ol li a {
   color: red;
}

.highlight {
    background-color: rgb(19, 109, 151);
    color: yellow
}